$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$main-green: #026a75;
$main-ivory: #ebefee;
$sub-gray: #d9dada;
$sub-green: #14b964;
$sub-red: #c22222;
$white: #ffffffff;
$graphite:#232940;
