@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  text-align: center;
  height: 100%;
  margin: 0 1.5rem;

  &__container {
    margin-top: 3em;
  }

  &__title {
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $white;
    width: 80%;
    font-weight: 300;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
  }

  &__input {
    flex: 1;
    height: 2.8125rem;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1em;
    min-width: 0;
    outline: none;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;

    &::placeholder {
      font-size: 0.8125rem;
      line-height: 1rem;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 2.8125rem;
    border: solid 0.125rem $white;
    background-color: #27929e;
    cursor: pointer;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;

    &::after {
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content: "";
    }
  }

  &__result {
    min-height: 100vh;
    overflow: auto;
  }

  &__error {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1rem;
    color: $sub-red;
    background-color: $white;
  }

  &__list {
    min-height: 100%;
    padding-bottom: 3.125rem;
  }

  &__item {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: $main-ivory;
    border-radius: 1.5625rem;

    text-align: left;
    &--title {
    padding-left: .5rem;
      text-decoration: none;
      color: $main-green;
      font-size: 0.8125rem;
      line-height: 1.25rem;
    }
  }
}
